.bill-template {

  body {
    margin: 20px;
    font-family: Arial, sans-serif;
  }

  .container {
    margin: 20px;
    border:black 1px solid;
  }

  .row {
    border-bottom: 1px solid black;
  }
   .header_cell_shop_details p {
    margin: 0;
    padding-left: 5px;
  }
  #address1
  {
    font-size: 20px;
  }
  #address2
  {
    font-size: 16px;
  }
  #address3
  {
    font-size: 16px;
  }
  
  .cell {
    text-align: center;
    padding: 5px;
  }

  #invoice,.header_cell_shop_details {
  border-right: 1px solid black;
  padding: 0px !important;
  }

  #invoice div{
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
   #Date div
   {
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;

   }
   #order,#payment    
  {
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
   }
   #itemheader
   {
    margin: 0;
    padding: 0;
   }
   #itemheader #last,
  #itemDetails #last {
    border-right: none !important;
  }
   #itemDetails
   {
    margin: 0;
    padding: 0;
    border-bottom: none;
   }
   #itemheader div
   {
        border-right: 1px solid black;
        padding: 0px !important;
        justify-content: center;
        display: flex;
        font-weight: 600;
   }
   #itemDetails div
   {
        border-right: 1px solid black;
        padding: 0px !important;
        justify-content: center;
        display: flex;
        font-weight: 400;
        height: 500px !important;
   }
   .totalamount
   {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 40px;
   }
 .amount
   {
     display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 40px;
   }
   .amountInWords
   {
    border-bottom:none !important;
    font-weight: bold;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }
    
    .declarations
    {
      height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    }
     
     .declarationsDetails
     {
      border-bottom: none;
      border-right: 1px black solid;
     }

    .salesMan
    {
      border-bottom: none;
    }

  .signature {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 20px;
  }

  .signature2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 20px;
  }

  .footer {
    text-align: center;
    margin-top: 10px;
  }

}